<header class="absolute">
<div>
  <ul style="list-style-type: none; margin: 0; padding: 0;overflow: hidden; background-color: #333;">
    <li style="float: left;">
      <a [routerLink]="['']" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Home</a>
    </li>
    <li style="float: left;">
      <a [routerLink]="['all-course']" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">All-course</a>
    </li>
    <li style="float: left;">
      <a [routerLink]="['pages']" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Pages</a>
    </li>
    <li style="float: left;">
      <a [routerLink]="['blog']" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Blog</a>
    </li>
    <li style="float: left;">
      <a [routerLink]="['contact']" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Contact</a>
    </li>
  </ul>
  
  </div>

</header>
<router-outlet></router-outlet>
<footer style="background-color: #333; color: white;">footer</footer>